html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

@font-face {
    font-family: 'bubble letters';
        src: url('/Bubble Letters.ttf');
        src: url('/Bubble Letters.ttf') format('embedded-opentype'),
             url('/Bubble Letters.ttf') format('woff'),
             url('/Bubble Letters.ttf') format('truetype'),
             url('/Bubble Letters.ttf') format('svg');
    font-weight: normal;
    font-style: normal;
}


.loginPage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: white;
  z-index: 10;

}

/*.loginPage:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}*/

#logo {
  display: block;
  font-family: 'bubble letters', sans-serif;
  color: steelblue;
  font-size: 80px;
  font-style: italic;
}

.pageInfo {
  padding: 10% 0 10% 0;
}
.pageInfo img {
  width: 20%;
  height: auto;
}

.pageInfo span {
  display: block;
  font-size: 25px;
}

.form {
  display: block;
  font-size: 20px;
}

.formPrompt {
  display: block;
}

/*---Chat page---*/
.chatPage {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  /*top: 0;
  left: 0;*/
}

.chatArea {
  float: left;
  width: 80%;
  /*height: 100%;*/
  position: relative;
  overflow: hidden;
  padding-bottom: 28.25%;
  padding-top: 28%;
  top: 50%;
  transform: translateY(-50%);
  height: 0;
}




iframe {
  /*background-color: blue;*/

  pointer-events: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  /*z-index: -1;*/
  width: 100%;
  /*max-width: 100%;*/
  height: 100%;
  /*overflow: hidden;*/
}

.numOfUsersContainer {
  text-align: center;

}

.numOfUsersContainer b {
  font-size: 15px;
}

.logsContainer {
  overflow-y: auto;
  height: 60%;
  max-height: 60%;
}

.logArea {
  float: left;
  width: 20%;
  height: 100%;
  /*display: inline-block;*/
  position: relative;
  /*border-left: 2px outset;*/
  /*margin: -2px 0px -2px 0px;*/
  background-color: white;
}

.logArea #logo {
  font-size: 40px;
}

.logs li, #numOfUsers {
  text-align: center;
}

.ytUrlContainer {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 10px 0 10px 0;
}

.ytUrlInput {
  /*box-sizing: border-box;*/
  width: 80%;
  display: inline-block;
}

#newInput, #newMsg {
  width: 100px;
  word-wrap: break-word;
}

/*.logs {
  padding: 0px;
}*/









/*#example {
  position: absolute;
  right: 10px;

  top: 100px;
}*/



#newInput {
  resize: vertical;
  max-height: 100px;
}

div {
  /*border-width: 1px;
  margin: -1px;
  border-color: black;
  border-style: dashed;*/
}
