html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.loginPage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: green;
  text-align: center;
}

.loginPage:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.form {
  display: inline-block;
}

/*---Chat page---*/
.chatPage {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: yellow;
}

.chatArea {
  float: left;
  width: 80%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

iframe {
  pointer-events: none;
}

.logArea {
  float: right;
  width: 20%;
  height: 100%;
  display: inline-block;
}

.ytUrlContainer {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.ytUrlInput {
  box-sizing: border-box;
  display: inline-block;
}
/*#example {
  position: absolute;
  right: 10px;

  top: 100px;
}*/

div {
  border-width: 1px;
  margin: -1px;
  border-color: black;
  border-style: dashed;
}
